In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("rating_5000_cls_hc_10core_iterative.csv", delimiter = '\t', header = None)
df.head()

   0                                 1    2  3
0  0  00043ad3146f033d4bf1beb502fa6e09   41  3
1  1  00043ad3146f033d4bf1beb502fa6e09   60  3
2  2  00043ad3146f033d4bf1beb502fa6e09  175  3
3  3  00043ad3146f033d4bf1beb502fa6e09  191  3
4  4  00043ad3146f033d4bf1beb502fa6e09  265  3

In [3]:
df[2] = [int(x) for x in df[2]]

In [4]:
df.head()

   0                                 1    2  3
0  0  00043ad3146f033d4bf1beb502fa6e09   41  3
1  1  00043ad3146f033d4bf1beb502fa6e09   60  3
2  2  00043ad3146f033d4bf1beb502fa6e09  175  3
3  3  00043ad3146f033d4bf1beb502fa6e09  191  3
4  4  00043ad3146f033d4bf1beb502fa6e09  265  3

In [5]:
df.to_csv("rating_5000_cls_hc_10core_iterative.csv")